@import "src/styles/Global";

.table {
  margin: 100px 130px;

  &__container {
    border-radius: $mainBR;

  }

  &__head {
    background: $mainColor;
  }

  &__head-row {

  }

  &__head-cell {
    color: white;
    border-right: 1px white solid;
  }

  &__body {

  }

  &__body-row {

    background-color: black; /* or any other color you want */
  }

  &__body-cell {

  }

  &__pagination {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
  }

}