@import "src/styles/Global";

.table {

  &__container {
    border-radius: $mainBR !important;
  }

  &__head {
    background: $mainColor;
  }

  &__head-row {

  }

  &__head-cell {
    color: white !important;
    padding: 4px 12px !important;
    border-right: 1px white solid;
  }

  &__body {

  }

  &__body-row {
    &:nth-of-type(odd) {
      background-color: #FBFBFB;
    }
    &:nth-of-type(even) {
      background-color: #F1F1F1;
    }
  }

  &__body-cell {
    border-right: 1px white solid;
    padding: 6px 12px !important;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;

  }

  &__pagination {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;

    ul {
      .Mui-selected {
        background-color: $mainColor;
        color: white;
      }
      .MuiPaginationItem-page {
        width: 48px;
        height: 48px;
        border: 2px solid #F1F1F1;
        border-radius: 8px;
      }
    }
  }
}